.main {
  background-color: var(--bg-dark);
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  color: var(--text);
  gap: 2%;
}

.link {
  text-decoration: none;
  color: var(--text);
}

.link:hover {
  color: var(--text-muted);
}

.p {
  color: var(--danger);
  font-size: large;
}