.main {
    background-color: var(--bg-dark);
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-light);
    max-width: 65%;
    flex-grow: 2;
    min-height: 80%;
}

.form {
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    max-width: 25%;
    height: 80%;
    justify-content: center;
    align-items: center;
    color: var(--text);
    gap: 2%;
    flex-grow: 1;
}

.tasks table {
    text-align: center;
    width: 90%;
}

.buttons {
    display: flex;
    flex-direction: row;
    row-gap: 5%;
}